<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro</title>
    <link rel="stylesheet" href="../../../assets/css/generalViews/culture.css">
    <link rel="stylesheet" href="../../../assets/css/generalViews/gastronomics.css">
    
</head>
<body>
    
    <header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>

    <main class="culture-main">
        <div class="culture-container">
            <h1 class="culture-title">PRODUCTOS CULTURALES</h1>
            <div class="culture-cards-container">
                <div class="culture-card">
                    <div class="culture-card-image-container">
                        <img src="../../../assets/imgStatic/imgBook1.png" alt="Libro Raices y Fogones">
                    </div>
                    <div class="culture-card-info">
                        <p class="culture-card-title">Libro Raices y Fogones</p>
                        <p class="culture-card-price">COP 30.000$</p>
                    </div>
                </div>
                <div class="culture-card">
                    <div class="culture-card-image-container">
                        <img src="../../../assets/imgStatic/imgBook2.png" alt="Caja Literaria">
                    </div>
                    <div class="culture-card-info">
                        <p class="culture-card-title">Caja Literaria</p>
                        <p class="culture-card-price">COP 20.000$</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>
</body>
</html>
