<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio - Hija del Fuego</title>
	<link rel="stylesheet" href="../../../assets/css/generalViews/home.css">
    
</head>
<body>
    
   <header>
	   <object type="text/html" data="../../../assets/html/generalViews/headerHome.html" class="header-include"></object>
   </header>

   <main>
	   <section class="home-image-section">
		   <img src="../../../assets/imgStatic/imgHome.png" alt="Imagen principal Home" class="img-home">
		   <div class="home-overlay"></div>
		   <div class="home-text">
			   La gastronomía colombiana es un reflejo de la diversidad cultural y geográfica del país. Cada región aporta ingredientes, técnicas y tradiciones que se mezclan 
               para crear una cocina rica en sabor y autenticidad. Desde la calidez de una bandeja paisa y el inconfundible ajiaco santafereño, hasta la frescura del ceviche del 
               Pacífico y la tradición ancestral de las arepas, Colombia ofrece una experiencia culinaria única.
		   </div>
	   </section>
   </main>
   

   <footer></footer>
   <script src="../../../assets/js/generalViews/headerHome/headerHome.js"></script>

</body>
</html  >