<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
    
    <link rel="stylesheet" href="../../../assets/css/generalViews/blogProduct.css">
    
</head>
<body>
    
    <header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>

    <main class="recipes-main">
        <div class="recipes-content-container">
            <div class="recipes-header">
                <h1 class="recipes-title">RECETAS</h1>
                <a href="recipes-all.html" class="btn-view-all">Ver Todas</a>
            </div>
            <div class="recipes-dropdowns-container">
                <div class="dropdown">
                    <button class="dropdown-btn">Platos fuertes</button>
                    <div class="dropdown-content">
                        <a href="/generalViews/blog/bandejaPaisa">Bandeja paisa</a>
                        <a href="/generalViews/blog/ajiaco">Ajiaco</a>
                        <a href="/generalViews/blog/lomo">Lomo al trapo</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-btn">Insumos</button>
                    <div class="dropdown-content">
                        <a href="/generalViews/blog/arepa">Arepa de huevo</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-btn">Postres</button>
                    <div class="dropdown-content">
                        <a href="/generalViews/blog/arequipe">Arequipe</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-btn">Cenas</button>
                    <div class="dropdown-content">
                        <a href="/generalViews/blog/sancocho">Sancocho</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="recipes-image-container"></div>
    </main>

    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>
    <script src="../../../assets/js/generalViews/blogProduct/blogProduct.js"></script>
</body>
</html>
