<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comida con Alma</title>

    <link rel="stylesheet" href="../../../assets/css/generalViews/comidaConAlma.css">
</head>
<body>
    <header>
        <object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
    </header>

    <main class="comida-alma-main">
        <div class="comida-alma-container">
            <h1 class="comida-alma-title">COMIDA CON ALMA</h1>
            <div class="comida-alma-cards-container" id="comida-con-alma-cards"></div>
        </div>
    </main>

    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>
    <script src="../../../assets/js/generalViews/comidaConAlma/comidaConAlma.js"></script>
</body>
</html>
