<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomía Colombiana</title>
    <link rel="stylesheet" href="css/headerGlobal.css">
    <link rel="stylesheet" href="../../../assets/css/generalViews/gastronomics.css">
    
</head>
<body>
    
    <header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>

    <main class="gastronomy-main">
        <div class="gastronomy-container">
            <div class="gastronomy-text-content">
                <h1 class="gastronomy-title">LA GASTRONOMIA<br>COLOMBIANA</h1>
                <p class="gastronomy-description">
                    La gastronomía colombiana es un reflejo de la diversidad cultural y geográfica del país. Cada región aporta ingredientes, técnicas y tradiciones que se mezclan para crear una cocina rica en sabor y autenticidad. 
                    Desde la calidez de una bandeja paisa y el inconfundible ajiaco santafereño, hasta la frescura del ceviche del Pacífico y la tradición ancestral de las arepas, Colombia ofrece una experiencia culinaria única.
                </p>
                <a href="blog.html" class="gastronomy-button">Blog de comida</a>
            </div>
            <div class="gastronomy-image-content">
                <img src="../../../assets/imgStatic/imgGastronomic.png" alt="Gastronomía Colombiana">
            </div>
        </div>
    </main>

    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>
</body>
</html>
