<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomía Colombiana</title>
    <link rel="stylesheet" href="css/headerGlobal.css">
    <link rel="stylesheet" href="../../../assets/css/generalViews/gastronomics.css">
    
</head>
<body>
    
    <header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>

    <main class="gastronomy-main">
        <div class="gastronomy-container">
            <div class="gastronomy-text-content">
                <h1 class="gastronomy-title">COMIDA CON ALMA<br>
                    <h4>Fundadora: Ali — Hija del Fuego</h4>
                <p class="gastronomy-description">
                    Ali es autora del libro Raíces y Fogones, obra reconocida por su conexión profunda entre la memoria culinaria y el patrimonio cultural colombiano, que obtuvo el primer lugar en la Categoría Ficción del Premio Nacional de Escritura Gastro Turística de Colombia —un certamen que reconoce los relatos que enlazan gastronomía, tradición e identidad— y además fue GANADORA internacionalmente en los Gourmand World Cookbook Awards, considerados como los “Óscar” de los libros culinarios por su prestigio global.

                </p>
                <a href="/generalViews/comida-con-alma" class="gastronomy-button">Comida con Alma</a>
            </div>
            <div class="gastronomy-image-content">
                <img src="../../../assets/imgStatic/Logo-comida-con-alma.jpg" alt="Gastronomía Colombiana">
            </div>
        </div>
    </main>

    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>
</body>
</html>
