<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro</title>
	<link rel="stylesheet" href="../../../assets/css/generalViews/login.css">
</head>
<body>
	<header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>
	<div class="login-wrapper">
		<div class="login-panel">
			<div class="login-left">
				<div class="login-logo">
					<img src="../../../assets/icons/iconoAlisonSerrano.ico" alt="Logo">
				</div>
				<div class="login-welcome welcome-center">
					<h1>¡Crea tu cuenta!</h1>
					<p>Regístrate para acceder a todas las funcionalidades.<br>¡Únete a nuestra comunidad!</p>
				</div>
			</div>
			<div class="login-right">
				<h2 class="register-title">Registro</h2>
				<p class="login-desc register-desc">Completa el formulario para crear tu cuenta.</p>
				<form class="login-form register-form">
					<div class="input-group register-input-group">
						<input type="text" class="register-input" placeholder="Nombre completo" required>
					</div>
					<div class="input-group register-input-group">
						<input type="email" class="register-input" placeholder="Correo electrónico" required>
					</div>
					<div class="input-group register-input-group">
						<input type="password" class="register-input" placeholder="Contraseña" required>
					</div>
					<div class="input-group register-input-group">
						<input type="password" class="register-input" placeholder="Confirmar contraseña" required>
					</div>
					<!-- Selector de Rol -->
					<div class="input-group register-input-group">
						<select id="role-select" class="register-input" required>
							<option value="" disabled selected>Selecciona un rol</option>
							<!-- Los roles se cargarán aquí dinámicamente -->
						</select>
					</div>
					<button type="submit" class="login-btn">Registrarse</button>
					<div class="login-register">
						<span>¿Ya tienes cuenta?</span> <a href="/generalViews/login">Inicia sesión</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer></footer>
	<script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
	 <script src="../../../assets/js/generalViews/register/register.js"></script>
	 <script src="../../../assets/js/system/constans.js"></script>
</body>
    
</html>
