<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../../assets/css/generalViews/login.css">
</head>
<body>
	<header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>
	<div class="login-wrapper bg-white">
		<div class="login-panel">
			<div class="login-left">
				<div class="login-logo">
					<img src="../../../assets/imgStatic/logo-circular.png" alt="Logo">
				</div>
				<div class="login-welcome welcome-center">
					<h1>HIJA DEl FUEGO</h1>
					<div class="brand-subtitle">Allison Serrano</div>
				</div>
			</div>
			<div class="login-right">
				<form class="login-form register-form">
					<h2 class="register-title">Registro</h2>
					<p class="login-desc register-desc">Completa el formulario para crear tu cuenta.</p>
					<div class="input-group register-input-group">
						<input type="text" class="register-input" placeholder="Nombre completo" required>
					</div>
					<div class="input-group register-input-group">
						<input type="email" class="register-input" placeholder="Correo electrónico" required>
					</div>
					<div class="input-group register-input-group">
						<input type="password" class="register-input" placeholder="Contraseña" required>
					</div>
					<div class="input-group register-input-group">
						<input type="password" class="register-input" placeholder="Confirmar contraseña" required>
					</div>
					<!-- Selector de Rol -->
					<div class="input-group register-input-group">
					</div>
					<button type="submit" class="login-btn">Registrarse</button>
					<div class="login-register">
						<span>¿Ya tienes cuenta?</span> <a href="/generalViews/login">Inicia sesión</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer></footer>
	<script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
	 <script src="../../../assets/js/generalViews/register/register.js"></script>
	 <script src="../../../assets/js/system/constans.js"></script>
</body>
    
</html>
