<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarde de cocina</title>
    <link rel="stylesheet" href="../../../assets/css/generalViews/blog.css">
    <link rel="stylesheet" href="../../../assets/css/generalViews/blogCard.css">
</head>
<body>
    <header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>
    <main class="blogcard-full-bg">
        <section class="blogcard-wide-container">
            <div class="blogcard-wide-text">
                <p class="blogcard-date">30 DE NOVIEMBRE DE 2025</p>
                <h1 class="blogcard-title">TARDE DE COCINA</h1>
                <p class="blogcard-description">
                    Una tarde de cocina es mucho más que preparar recetas: es compartir historias, risas y aprendizajes. Este encuentro permitió fortalecer lazos, descubrir nuevos sabores y disfrutar del arte culinario en compañía. Cada instante fue una invitación a experimentar y a valorar la magia de cocinar juntos.
                </p>
            </div>
            <div class="blogcard-wide-img-container">
                <img src="../../../assets/imgStatic/imagen21.jpg" alt="Tarde de cocina" class="blogcard-wide-img">
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>
</body>
</html>
