<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesion Fotografica</title>
    <link rel="stylesheet" href="../../../assets/css/generalViews/blog.css">
    <link rel="stylesheet" href="../../../assets/css/generalViews/blogCard.css">
</head>
<body>
    <header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>

    <main class="blogcard-full-bg">
        <section class="blogcard-wide-container">
            <div class="blogcard-wide-text">
                <p class="blogcard-date">10 DE NOVIEMBRE DE 2025</p>
                <h1 class="blogcard-title">SESIÓN FOTOGRÁFICA</h1>
                <p class="blogcard-description">
                    Esta sesión fotográfica marcó un momento especial en el desarrollo del proyecto, capturando la esencia y dedicación de quienes participaron. Cada imagen refleja el esfuerzo, la pasión y la alegría de trabajar en equipo, mostrando no solo el resultado final, sino también el proceso creativo detrás de cada logro. Un recuerdo imborrable que inspira a seguir adelante y celebrar cada paso del camino.
                </p>
            </div>
            <div class="blogcard-wide-img-container">
                <img src="../../../assets/imgStatic/imagen3.jpg" alt="Sesion fotografica" class="blogcard-wide-img">
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>

</body>
</html>