<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrevista</title>
    <link rel="stylesheet" href="../../../assets/css/generalViews/blog.css">
    <link rel="stylesheet" href="../../../assets/css/generalViews/blogCard.css">
</head>
<body>
    <header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>
    <main class="blogcard-full-bg">
        <section class="blogcard-wide-container">
            <div class="blogcard-wide-text">
                <p class="blogcard-date">13 DE JULIO DE 2025</p>
                <h1 class="blogcard-title">ENTREVISTA</h1>
                <p class="blogcard-description">
                    La entrevista fue un espacio para compartir experiencias, aprendizajes y sueños. A través de las preguntas y respuestas, se pudo profundizar en la historia personal y profesional, inspirando a otros a seguir sus metas. Este momento permitió reflexionar sobre el camino recorrido y motivar a quienes buscan crecer en el mundo de la gastronomía.
                </p>
            </div>
            <div class="blogcard-wide-img-container">
                <img src="../../../assets/imgStatic/imagen25.png" alt="Entrevista" class="blogcard-wide-img">
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>
</body>
</html>
