<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada especial del libro</title>
    <link rel="stylesheet" href="../../../assets/css/generalViews/blog.css">
    <link rel="stylesheet" href="../../../assets/css/generalViews/blogCard.css">
</head>
<body>
    <header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>
    <main class="blogcard-full-bg">
        <section class="blogcard-wide-container">
            <div class="blogcard-wide-text">
                <p class="blogcard-date">14 DE JUNIO DE 2025</p>
                <h1 class="blogcard-title">PORTADA ESPECIAL DEL LIBRO</h1>
                <p class="blogcard-description">
                    La portada especial del libro representa un hito en el proyecto, simbolizando el esfuerzo y la dedicación de todo el equipo. Cada detalle fue cuidadosamente seleccionado para transmitir la esencia de la obra y su mensaje. Esta edición limitada es un homenaje a quienes han creído y apoyado desde el inicio, y un recordatorio de que los sueños pueden materializarse con pasión y trabajo en equipo.
                </p>
            </div>
            <div class="blogcard-wide-img-container">
                <img src="../../../assets/imgStatic/imagen10.jpg" alt="Portada especial del libro" class="blogcard-wide-img">
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>
</body>
</html>
