<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../../../assets/css/generalViews/blog.css">
</head>
<body>
    <header>
		<object type="text/html" data="../headerGlobal/headerGlobal.html" class="header-include"></object>
	</header>
    
    <!-- Dentro de tu archivo blog.html -->
<section class="blog-hero">
    <div class="blog-badge">BLOG</div>
</section>

    <div class="blog-cards-container">
        <div class="blog-card">
            <img src="/assets/imgStatic/cardCultura1.jpeg" alt="Cultura 1">
        </div>
        <div class="blog-card">
            <img src="/assets/imgStatic/cardCultura2.jpeg" alt="Cultura 2">
        </div>
        <div class="blog-card">
            <img src="/assets/imgStatic/imagen21.jpg" alt="Cultura 3">
        </div>
    </div>

    <footer></footer>
    <script src="../../../assets/js/generalViews/headerGlobal/headerGlobal.js"></script>
    <script src="../../../assets/js/system/constans.js"></script>

</body>
</html>